@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.portfolioHome {
  padding: 60px  20px 10px 20px;
  height: calc(100vh - 60px);
  display: flex;
}

.portfolioHomeSection {
  width: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}


.portfolioHomeIntro {
  max-width: 550px;
}

.portfolioHomeTitle {
  color: white;
  font-size: 40px;
  margin: 0;
  font-family: var(--font-orbitron-bold);
}

.portfolioHomeTextBox {
  max-width: 450px;
}

.portfolioHomeText {
  color: white;
  font-size: 21px;
  line-height: 30px;
  border-left: solid 2px $cyber-ripe-lemon;
  padding-left: 20px;
  margin-left: 20px;
}

.portfolioHomeHighlight {
  color: $cyber-ripe-lemon;
}
