@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.portfolioHome {
  padding: 60px  20px 10px 20px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolioHomeSection {
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.portfolioHomeIntro {
  max-width: 550px;
  margin-bottom: 20px;
}

.portfolioHomeTitle {
  color: white;
  font-size: 40px;
  margin: 0;
  font-family: var(--font-orbitron-bold);
  text-align: center;
}

.portfolioHomeTextBox {
  max-width: 450px;
}

.portfolioHomeText {
  color: rgb(180, 180, 180);
  font-size: 16px;
  line-height: 30px;
}

.portfolioHomeHighlight {
  color: $cyber-ripe-lemon;
}
