.portfolioHome {
  background-color: rgb(201, 25, 25);
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;

  .backShape {
    width: 100%;
    height: 100%;
    margin-left: auto;
    opacity: 1;
    background-color: #212121;
    position: absolute;
    top: 0;
  }
  
  .backShapeBlack {
    clip-path: polygon(-1% 0, 62% 0, 15% 158%, 0 110%);
    background-image: url("../../public/cubes.png");
  }

  .backShapeWhite {
    background-color: white;
    clip-path: polygon(-1% 0, 69% 0, 15% 158%, 0 110%);
  }

  .homeTexts {
    color: white;
    font-size: 48px;
    margin-left: 10%;
    perspective: 500px;

    .homeTextOne, .homeTextTwo {
      display: block;
    }

    .homeTextTwo {
      margin-top: 10px;
      font-weight: bold;
      font-size: 4vw;
    }
  }

  .homeTextsContainer {
    transform: rotateY(40deg);
  }

  .photo {
    position: absolute;
    width: 40%;
    right: 0;
    bottom: 0;
    line-height: 0;
  }

  .homeContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
