@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.portfolioHome {
  padding-top: 60px;
  height: 100vh;
  background-image: url("/backgrounds/backimage.jpeg");
  background-position: center;
  background-size: cover;
}