@import "@styles/colors.scss";

.PhotoFrame {
  width: 100%;
  position: relative;
}

.PhotoFrameblue path {
  fill: $cyber-bright-turquoise;
  width: 100%;
}

.PhotoFrameyellow path {
  fill: $cyber-ripe-lemon;
  width: 100%;
}