@import "@styles/colors.scss";

.CyberInfoFrame {
  max-width: 500px;
  position: relative;
  width: 100%;
  max-height: 570px;
}

.CyberInfoButtonContainer {
  position: absolute;
  top: 95%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.CyberInfoButton {
  width: 55%;
}

.CyberInfoFrameSubtitle {
  max-width: 300px;
  margin-top: 20px;
}

.CyberInfoFrameContent {
  position: absolute;
  top: 0;
  left: 0;
  margin: 3% 4%;
  height: 90%;
  width: 90%;
  overflow: hidden;
}

.CyberInfoFrameResponseContainer {
  margin-top: 10px;
  height: 74%;
  display: flex;
  align-items: center;
  color: white;
}

.CyberInfoFrameResponse {
  padding-left: 15px;
}

.CyberInfoFrameResponseTitle {
  font-size: 0.8rem;
  font-family: var(--font-orbitron-bold);
}

.CyberInfoFrameResponseText {
    font-size: 1rem;
    padding: 0 30px 0 20px;
    margin-top: 10px;
}