@import "@styles/colors.scss";

.CyberInfoFrame {
  max-width: 500px;
  position: relative;
  width: 100%;
}

.CyberInfoFramered {
  .CyberInfoFrameBorders {
    fill: $cyber-valencia;
  }

  .CyberInfoFrameMain {
    stroke: $cyber-valencia;
    fill: $cyber-coffee-bean;
  }
}

.CyberInfoFrameblue {
  .CyberInfoFrameBorders {
    fill: $cyber-bright-turquoise;
  }

  .CyberInfoFrameMain {
    stroke: $cyber-bright-turquoise;
    fill: $cyber-bunker;
  }
}

.CyberInfoFrameContent {
  position: absolute;
  top: 0;
  left: 0;
  margin: 3% 3%;
  height: 90%;
  width: 92%;
  overflow: hidden;
}