@import "../../../styles/colors.scss";

.headerButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  outline: inherit;
  padding: 0 30px;
  position: relative;
  height: 35px;
  margin: 10px 8px;

  &white {
    color: white;
  }

  &:hover:not(.headerButtonActive) {
    .headerButtonShapeBack {
      width: 100%;
    }
    .headerButtonLabel {
      color: black;
    }

    .headerButtonSmallShapeOne,
    .headerButtonSmallShapeTwo,
    .headerButtonSmallShapeThree,
    .headerButtonSmallShapeFour {
      opacity: 1;
      height: 5px;
    }
  }

  &Active {
    .headerButtonSmallShapeOne,
    .headerButtonSmallShapeTwo,
    .headerButtonSmallShapeThree,
    .headerButtonSmallShapeFour {
      opacity: 1;
      height: 5px;
      background-color: $cyber-starship;
    }

    .headerButtonLabel {
      font-family: var(--font-orbitron-bold);
    }

    .headerButtonShape {
        border-color: $cyber-starship;
    }
  }
}

.headerButtonShape,
.headerButtonShapeBack,
.headerButtonSmallShape {
  border: solid 3px $cyber-viridian;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewX(-30deg);
}

.headerButtonSmallShapeOne,
.headerButtonSmallShapeTwo,
.headerButtonSmallShapeThree,
.headerButtonSmallShapeFour {
  background-color: $cyber-viridian;
  width: 20%;
  transition: all 0.4s;
  border: none;
  top: auto;
}

.headerButtonSmallShapeOne {
  bottom: 33px;
  left: 15%;
  height: 0;
}

.headerButtonSmallShapeTwo {
  top: 33px;
  left: 22%;
  height: 0;
}
.headerButtonSmallShapeThree {
  bottom: 33px;
  left: 55%;
  height: 0;
}
.headerButtonSmallShapeFour {
  top: 33px;
  left: 65%;
  height: 0;
}

.headerButtonShapeBack {
  background-color: $cyber-starship;
  border: none;
  width: 1%;
  transition: width 0.4s;
}

.headerButtonLabel {
  display: inline-block;
  position: relative;
  font-family: var(--font-orbitron);
}
