@import "@styles/colors.scss";

$border: 1px;

.headerButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.7rem;
  outline: inherit;
  padding: 0 30px;
  position: relative;
  height: 30px;
  margin: 10px 8px;

  &white {
    color: white;
  }

  &:hover:not(.headerButtonActive) {
    color: black;

    .headerButtonShapeBack {
      width: 100%;
    }
  }

  &Active {
    color: black;

    .headerButtonLabel {
      font-family: var(--font-orbitron-bold);
    }

    .headerButtonShape {
      border-color: $cyber-bright-turquoise;
      background-color: $cyber-bright-turquoise;
    }
  }
}

.headerButtonShape,
.headerButtonShapeBack,
.headerButtonSmallShape {
  border: solid $border $cyber-valencia;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewX(-30deg);
}

.headerButtonShapeBack {
  background-color: $cyber-valencia;
  border: none;
  width: 1%;
  transition: width 0.4s;
}

.headerButtonLabel {
  display: inline-block;
  position: relative;
  font-family: var(--font-orbitron);
}

.headerButtonyellow {
  &.headerButtonActive {
    .headerButtonShape {
      border-color: $cyber-ripe-lemon;
      background-color: $cyber-ripe-lemon;
    }
  }

  .headerButtonShape,
  .headerButtonShapeBack,
  .headerButtonSmallShape {
    border-color: $cyber-ripe-lemon;
  }

  .headerButtonShapeBack {
    background-color: $cyber-ripe-lemon;
  }
}
