@import "@styles/colors.scss";

.TitleBoxShape {
  $color: $cyber-starship;
  font-family: var(--font-orbitron-bold);
  background-color: $color;
  font-size: 24px;
  padding: 10px 15px;
  max-width: 500px;
  box-sizing: border-box;
  position: relative;
  margin: 0;

  &::after {
    width: 30px;
    height: calc(100% - 30px);
    content: "";
    background-color: $cyber-starship;
    position: absolute;
    bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }
}

.TitleBoxShapeLeft {
  margin-right: 30px;

  &::after {
    right: -30px;
  }

  &::before {
    right: -30px;
    border-width: 30px 0 0 30px;
    border-color: transparent transparent transparent $cyber-starship;
  }
}

.TitleBoxShapeRight {
  margin-left: 30px;
  text-align: right;

  &::after {
    left: -30px;
  }

  &::before {
    left: -30px;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent $cyber-starship transparent;
  }
}

.TitleBoxShapered {
  background-color: $cyber-valencia;
  color: white;

  &::after {
    background-color: $cyber-valencia;
  }

  &.TitleBoxShapeLeft {
    &::before {
      border-color: transparent transparent transparent $cyber-valencia;
    }
  }

  &.TitleBoxShapeRight {
    &::before {
      border-color: transparent transparent $cyber-valencia transparent;
    }
  }
}

.TitleBoxShapeblue {
  background-color: $cyber-bright-turquoise;

  &::after {
    background-color: $cyber-bright-turquoise;
  }

  &.TitleBoxShapeLeft {
    &::before {
      border-color: transparent transparent transparent $cyber-bright-turquoise;
    }
  }

  &.TitleBoxShapeRight {
    &::before {
      border-color: transparent transparent $cyber-bright-turquoise transparent;
    }
  }
}
