@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.portfolioAbout {
  height: calc(100vh - 60px);
  position: relative;
}

.portfolioAboutSectionContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.portfolioAboutSection {
  display: flex;
  width: 50%;
}

.portfolioAboutPhotoContainer {
  max-width: 300px;
  position: relative;
  width: 100%;
  border: solid 4px $cyber-valencia;
  position: relative;
}

.portfolioAboutSectionLeft {
  justify-content: flex-end;
  height: 100%;
  width: 45%;
  max-height: 557px;
  padding-right: 10px;
}

.portfolioAboutPhoto {
  max-width: 500px;
  position: relative;
  width: 96%;
  height: 97.5%;
  margin: 2%;
}
