$portfolio-black: #212121;
$portfolio-red: #c91919;
$portfolio-white: #ededed;
$portfolio-cyan: #02B1B1;
$primary-color: #3498db;
$secondary-color: #e74c3c;
$text-color: #333;
$background-color: #f0f0f0;

$default-black: #171717;
$light-black: #292929;
$orange-text: #E5641B;
$default-border: #3C3C3C;
$blue-border: #29A6B7;