@import "@styles/colors.scss";

$border-size: 3px;
$background-col: $cyber-rangoon-green;
$border-col: black;

.CyberButton {
  cursor: pointer;
  font-size: .8rem;
  outline: inherit;
  position: relative;
  padding: 10px 30px 10px 15px;
  border: none;
  max-width: 500px;
  background-color: transparent;
  font-weight: bold;
  background-color: $cyber-bright-turquoise;
  border: solid 3px $border-col;
  position: relative;
  margin-left: 10px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    border-color: $border-col;
    background-color: $cyber-bright-turquoise;
    box-sizing: border-box;
  }

  &::after {
    border-left: solid 4px;
    border-top: solid 3px;
    top: -3px;
    transform: skew(-40deg);
    left: -13px;
    height: 25px;
  }

  &::before {
    bottom: -3px;
    left: -23.2px;
    border-left: solid 3px;
    border-bottom: solid 3px;
    background-color: $cyber-bright-turquoise;
    height: calc(100% - 18px);
  }
}

.CyberButtonLabel {
  position: relative;
  z-index: 1;
  font-family: var(--font-orbitron-bold);
}
