@import "@styles/colors.scss";

$border-size: 6px;

.CyberButton {
  cursor: pointer;
  font-size: 0.9rem;
  outline: inherit;
  position: relative;
  font-family: var(--font-orbitron-bold);
  padding: 0 30px;
  border: none;
  max-width: 500px;
  background-color: transparent;
}

.CyberButtonContainer {
  border-top: solid $border-size $cyber-valencia;
  border-bottom: solid $border-size $cyber-valencia;
  padding: 10px 1px;
  background-color: $cyber-starship;
}

.CyberButtonSquareShape {
  width: 30px;
  background-color: $cyber-valencia;
  height: calc(100% - 30px);
  position: absolute;
  left: 0;
  bottom: 0;

  &Inner {
    width: 30px;
    background-color: $cyber-starship;
    height: calc(100% - $border-size);
    width: calc(100% - $border-size);
    position: absolute;
    right: 0;
    top: 0;
  }
}

.CyberButtonSquareShapeRight {
  left: auto;
  right: 0;

  .CyberButtonSquareShapeInner {
    position: absolute;
    right: auto;
    left: 0;
    top: 0;
  }
}

.CyberButtonTriangleShape,
.CyberButtonTriangleShapeInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent $cyber-valencia transparent;
}

.CyberButtonTriangleShapeInner {
  border-color: transparent transparent $cyber-starship transparent;
  border-width: 0 0 calc(30px - $border-size) calc(30px - $border-size);
  right: 0;
  top: $border-size;
  left: auto;
}

.CyberButtonTriangleShapeRight {
  left: auto;
  right: 0;
  border-width: 30px 0 0 30px;
  border-color: transparent transparent transparent $cyber-valencia;

  .CyberButtonTriangleShapeInner {
    border-color: transparent transparent transparent $cyber-starship;
    border-width: calc(30px - $border-size) 0 0 calc(30px - $border-size);
    right: $border-size;
    top: calc($border-size - 30px);
  }
}
