@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.portfolioAbout {
  height: calc(100vh - 60px);
  position: relative;
  background-color: $cyber-ripe-lemon;
  padding: 20px;
  box-sizing: border-box;
}

.portfolioAboutSectionContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.portfolioAboutSection {
  display: flex;
  width: 55%;
  align-items: center;
  height: 100%;
}

.portfolioAboutSectionLeft {
  position: relative;
  width: 45%;
  justify-content: center;
}

.portfolioAboutSectionLeftBack {
  background-color: $cyber-log-cabin;
  height: 100%;
  width: 45%;
  position: absolute;
  top: 0;
  left: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 100%;
    height: 100%;
    background-color: $cyber-log-cabin;
    transform: skewX(10deg);
    transform-origin: top;
  }
}

.portfolioAboutPhoto {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding: 35px;
}

.portfolioAboutPhotoText {
  font-family: var(--font-orbitron-bold);
  color: $cyber-ripe-lemon;
  font-size: 2.5rem;
  position: absolute;
  top: 18%;
  left: -12%;
  margin: 0;
  transform: rotate(-60deg);
}

.responseSectionText {
  line-height: 26px;
}

.responseSectionLoader {
  display: flex;
  justify-content: center;
}

.responseSectionTextHighlight {
  font-weight: bold;
}

.responseSection {
  width: 100%;
  max-width: 500px;
  margin-left: 25%;
}

.responseSectionAiBotContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.responseSectionAiBot {

}


.responseSectionAiBotImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.responseSectionButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
