@import "@styles/colors.scss";

.photoShape {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

.photoShapeImage {
  max-width: 100%;
  height: auto;
  position: relative;
}

.photoShapeImageContainer {
  padding: 7% 4% 6% 5%;
  position: absolute;
  top: 7%;
  left: 4.5%;
  width: 82%;
  height: 72%;
}

.shape {
  position: absolute;
  width: 100%;
  right: -2px;
}
