$default-border: #3c3c3c;
$background-primary: #171717;
$background-secondary: #292929;
$primary-text-color: #e4e4e4;
$secondary-text-color: #a7a7a7;
$third-text-color: #e5641b;
$fourth-text-color: #29a6b7;

$cyber-purple: #630fab;
$cyber-cornflower-blue: #5373ee;

$cyber-hibiscus: #c92f61;
$cyber-puerto-rico: #81e7dd;

$cyber-bunker: #12151c;
$cyber-cod-gray: #161414;
$cyber-starship: #F3D94A;
$cyber-viridian: #418C89;
$cyber-coffee-bean: #23100D;
$cyber-wewak: #F4A8A5;

$cyber-bright-turquoise: #00e3e3;
$cyber-rangoon-green: #0E0E0C;
$cyber-valencia: #DC4943;
$cyber-ripe-lemon: #F7D527;
$cyber-log-cabin: #191917;
