$default-border: #3C3C3C;
$background-primary: #171717;
$background-secondary: #292929;
$primary-text-color: #e4e4e4;
$secondary-text-color: #a7a7a7;
$third-text-color: #E5641B;
$fourth-text-color: #29A6B7;

$cyber-hibiscus: #C92F61;
$cyber-purple: #630FAB;
$cyber-bright-turquoise: #00E3E3;
$cyber-cornflower-blue: #5373EE;
